/.idea
/guessing_game/target
/hello-world/target
/generic_trait_lifetime/target
/vector_string_hashmap/target
/hello-actix/target
/hello-actix/.idea
/minigrep/.idea
/minigrep/target
/closures_iterator/.idea
/closures_iterator/target
/hello/.idea
/hello/target
/multi-thr-webserv/.idea
/multi-thr-webserv/target
/helloworld-tonic/.idea
/helloworld-tonic/target
/allinone/.idea
/allinone/target
/learn_by_sample/.idea
/rust_project_best_pratice/.idea
/rust_project_best_pratice/examples/server/.idea
/rust_project_best_pratice/examples/server/target
/rust_project_best_pratice/target
/porust/examples/server/.idea
/porust/examples/server/target
/porust/target
/porust/.idea
/Rust_Crash_Course/.idea
/Rust_Crash_Course/bouncy4/target
/Rust_Crash_Course/bouncy4/.idea
/rs-simple-proxy/.idea
/Rust_Crash_Course/clicky/.idea
/Rust_Crash_Course/clicky/target
